:root {
  --animation-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btnWrap {
  list-style: none;
  display: flex;
}

.btn {
  margin-left: 30px;
  height: 25px;
  width: 80px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 0px;
  font-weight: 600;
  cursor: pointer;
  transition: transform var(--animation-duration) var(--timing-function);
}

.btn:hover {
  transform: scale(1.05);
}
